html,
body {
/*  background-color: #1a948d;*/
  background-color: #000;
}

body {
  background-image: url('../images/pics_with_family/cover2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  background-size: cover;
  height: 100%;
  min-height: 1000px;
  overflow: hidden;
  font-family: 'quicksandlight', Helvetica, Arial;
  color: #FFFFFF;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, .35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

header {

  margin-top: 30px;
  position: absolute;
  z-index: 5;
  width: 420px;
  padding-top: 10px;
  padding-bottom: 10px;

}

h1 {

  font-size: 36px;
  letter-spacing: -2.5px;
  margin-left: 30px;
}

h3 {

  font-size: 16px;
  letter-spacing: -1.5px;
  margin-top: 5px;
  margin-left: 35px;
}

#fps {
  margin-top: 5px;
  margin-left: 35px;
}

a {
  color: rgba(255, 255, 255, .65);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

/* hardware accelatator class */
.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style: preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);

  /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;*/
}

#contentContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 43%;
  width: 1000px;
  height: 1000px;
}

/*
#contentContainer {
  position: absolute;
  margin-left: auto;
  margin-top: auto;
  left: 30%;
  top: 40%;
  width: 100vh;
  height: 100vh;
}
*/

#carouselContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
}

.carouselItem {
  width: 320px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  visibility: hidden;
}

.carouselItemInner {
  width: 320px;
  /* height: 130px; */
  position: absolute;
  background-color: rgba(255, 255, 255, .75);
  border: 10px solid rgba(255, 255, 255, .5);
  color: aqua;
  font-size: 72px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  text-align: center;

}